// Colors
$light-purple:             #d0cfe5 !default;
$light-purple-2:           #e7e6f5 !default;
$dark-purple:              #7d7db2 !default;
$dark-purple-2:            #7d7db3 !default;
$primary:                  #3255ff !default;
$white:                    #fff !default;
$black:                    #000 !default;
$text-color:               #16163d !default;
$table-header-color:       $dark-purple !default;
$paragraph-color:          $text-color !default;
$table-checkbox-input:     $light-purple !default;
$table-campaign-border:    #d4d4eb !default;
$border-color:             #f2f4fc !default;
$heading-color:            $dark-purple !default;
$heading-bg:               #f4f3fc !default;
$customer-heading:         $heading-color !default;
$customer-heading-bg:      $heading-bg !default;
$customer-rule-border:     $light-purple !default;
$box-shadow-color:         #0d004d !default;
$success:                  #096 !default;
$info:                     #f48400 !default;
$danger:                   #b8001f !default;
$status-success:           $success !default;
$status-info:              $info !default;
$status-danger:            $danger !default;
// Rule colors

$rule-color1: #f9fbff;
$rule-color2: #edf2fa;
$rule-color3: #dee5f2;

//
// Customer List Badge
//
$badgeColors: #ffd0d0, #e3ffda, #ffcfb5, #dae4ff, #cffff4, #fffcb5;
$badgeColorsLength: length($badgeColors);


//Fonts
$font : "Public Sans", sans-serif;

//colors
$customer-list-location-color: $dark-purple-2 !default;

// Default
$input-width: 1px !default;
$border-width: 1px !default;
$border-radius: 1px !default;

//
// Customer Table
//
$table-checkbox-input-width:  $input-width * 2 !default;
$table-campaign-border-width: $input-width !default;

//
// Pagination
//
$pagination-color:        $dark-purple-2 !default;
$pagination-active-color: $text-color !default;

//
// Buttons
//
$btn-line-height: 3rem !default;
