/**
 * SaleXpresso Customer Profile page
 *
 * @author SaleXpresso <support@salexpresso.com>
 * @package SaleXpresso
 * @version 1.0.0
 * @since 1.0.0
 */
.sxp {
	&-profile {
		&-thumb {
			img {
				width: 4.5rem;
				height: 4.5rem;
			}
		}
		&-wrapper {
			display: flex;
			position: relative;
			> div {
				background: $white;
			}
			.tabs {
				margin: 0;
				list-style: none;
				border-bottom: $border-width solid $border-color;
				padding: 0 1.5rem;

				li {
					font-size: 0.875rem;
					line-height: 1.25rem;
					background: none;
					color: $dark-purple;
					display: inline-block;
					cursor: pointer;
					margin: 0;
					padding: 1.09375rem 0.5rem;
					font-weight: 700;
					position: relative;

					&:first-child {
						padding-left: 0;
					}

					&:last-child {
						padding-right: 0;
					}

					.number-bubble {
						position: absolute;
						top: 0.25rem;
						right: -0.5rem;
					}
					&.current {
						color: $primary;
						position: relative;

						&::before {
							content: "";
							max-width: 100%;
							height: 2px;
							position: absolute;
							left: 0.5rem;
							right: 0.5rem;
							top: 0;
							background: $primary;
						}
					}
				}
			}

			.product {
				&-thumb {
					img {
						max-width: 40px;
						padding: 0;
						margin: 0;
						border-radius: 20px;
					}
				}
				&-details {
					div {
						display: block;
						width: 100%;
						margin-left: 0.25rem;
					}
				}
				&-sku {
					font-size: 0.8125rem;
					line-height: 1.23;
					color: $dark-purple;
				}
				&-list {
					max-width: 40px;
					padding: 0;
					margin: 0;

					li {
						float: left;
						img {
							border-radius: 20px;
							width: 100%;
							border: $border-width solid $light-purple;
						}
					}
					&.multiple {
						li {
							width: 50%;
							margin: 0;

							a {
								padding: 0;
								margin: 0;
								line-height: 0.6;
								display: block;
							}
						}
					}

				}
				&-number {
					margin-left: 0.25rem;
				}
				&-name {
					@extend .product-number;
				}
			}
			.not-used {
				color: $dark-purple;
			}
		}
		&-details {
			flex: 0 0 74%;
			max-width: 74%;
			margin-left: 1rem;
			border-radius: 0.25rem;
			.tab-content {
				display: none;
			}
			.tab-content.current {
				display: inherit;
			}
		}
		&-info {
			flex: 0 0 23%;
			max-width: 23%;
			margin-right: 1rem;
			border-radius: 0.5rem;
			padding: 1.5rem;

			h3,
			p {
				margin: 0;
				color: $text-color;
			}

			&-wrapper {
				text-align: center;
				h3 {
					font-size: 1rem;
					line-height: 1.5rem;
					font-weight: 700;
					color: #000;
					margin: 10px auto 0;
				}
				p {
					color: $dark-purple;
					font-size: 0.875rem;
					line-height: 1.25rem;
					margin-top: 2px;
				}
			}
			&-history {
				margin-top: 2rem;

				.history {
					display: flex;
					clear: both;
					margin-top: 0.5rem;

					p {
						font-size: 0.875rem;
						line-height: 1.25rem;
						flex: 0 0 50%;
						max-width: 50%;

						&:last-child {
							text-align: right;
						}
					}
					.history-bold {
						font-weight: 700;
					}
				}
			}
		}
		&-type {
			position: absolute;
			padding: 4px 6px;
			border-radius: 4px;
			display: inline-block;
			color: $text-color;
			top: 1rem;
			left: 1rem;
		}
	}
	&-customer-profile-table {
		thead {
			th {
				a {
					padding: 0;
				}
				&:first-child {
					a {
						padding-left: 1.5rem;
					}
				}
				&:last-child {
					a {
						padding-right: 1.5rem;
					}
				}
			}
		}
		tbody {
			td {
				padding: 0;
				&:first-child {
					padding-left: 1.5rem;
				}
				&:last-child {
					padding-right: 1.5rem;
				}
				div,
				ul {
					display: inline-block;
					vertical-align: middle;
				}
				.sxp-tag-list {
					margin-left: 3rem;
				}
				a {
					text-decoration: none;
				}
				.order-number {
					color: $primary;
				}
			}
			tr.has-fold.open {
				@include box-shadow(0, 2px, 4px, rgba($box-shadow-color, 0.08));
			}
			tr.fold {
				td {
					padding: 0;
				}
			}
		}
		tfoot {
			td {
				padding: 0 1.5rem;
			}
		}
	}
	&-active-cart-table {
		thead {
			th:nth-child(n+3) {
				text-align: right;
			}
		}
		tbody,
		tfoot {
			td:nth-child(n+3) {
				text-align: right;
			}
			tr td:nth-child(2) {
				padding-left: 0;
			}
			tr td:nth-child(1) {
				padding-right: 0;
			}
		}
		tfoot {
			padding: 1rem 0;
			border-top: $border-width solid $border-color;
			tr td {
				padding-top: 0.375rem;
				padding-bottom: 0.375rem;
			}
			tr:first-child td {
				padding-top: 1rem;
				border-top: $border-width solid $border-color;
			}
			tr:nth-last-child(2) td {
				padding-bottom: 1rem;
			}
			tr:last-child td {
				height: 56px;
				border-top: $border-width solid $border-color;
				vertical-align: middle;

				&:nth-child(2) {
					padding-left: 0;
				}
				&:nth-child(1) {
					padding-right: 0;
				}
				&:last-child {
					font-weight: 700;
				}
			}
		}
	}
}

@media screen and (max-width: 782px) {
	.sxp {
		&-profile {
			&-wrapper {
				flex-wrap: wrap;
				.product-list {
					display: none;
				}
			}
			&-details {
				flex: 0 0 100%;
				max-width: 100%;
				margin-left: 0;
				margin-top: 2rem;

				#orders,
				#products,
				#active-cart {
					.sxp-table tbody tr td:nth-child(n+2) {
						background: #fbfbfb;
					}
					.wp-list-table {
						tr:not(.inline-edit-row):not(.no-items) {
							td.column-primary ~ td:not(.check-column) {
								margin-left: 0;
							}
						}
					}
				}
				#activity {
					.wp-list-table {
						tr:not(.inline-edit-row):not(.no-items) {
							td.column-primary ~ td:not(.check-column) {
								margin-left: 0;
							}
						}
					}
					tr {
						td:nth-child(1) {
							padding: 1.5rem;
						}
					}
				}
				#orders {
					tr {
						td:nth-child(1) {
							padding: 1.6875rem 1.5rem;
						}
					}
				}
				#products {
					tr {
						td:nth-child(1) {
							padding: 1rem;
						}
					}
				}
				#active-cart {
					tbody {
						tr,
						tr.is-expanded {
							td {
								text-align: left;
							}
							td:nth-child(1) {
								display: none !important;
							}

							td:nth-child(2) {
								padding: 0.3125rem 0 0.3125rem 1.5rem;
								background: $white !important;
							}
						}
					}
					tfoot {
						display: block;
						padding: 0;
						border: none;
						tr {
							display: inline-table;
							width: 100%;
						}
					}
				}
				#recommendation,
				#searches {
					tr,
					tr.is-expanded {
						th.check-column {
							padding: 1.6875rem 0 0 1.5rem;
						}
					}
					tr {
						td:nth-child(2) {
							padding: 1rem;
						}
					}
				}
				#discount {
					tr,
					tr.is-expanded {
						th.check-column {
							padding: 1.6875rem 0 0 1.5rem;
						}
					}
					tr {
						td:nth-child(2) {
							padding: 1.75rem 1rem;
						}
					}
				}
				#campaign {
					tr,
					tr.is-expanded {
						th.check-column {
							padding: 1.6875rem 0 0 1.5rem;
						}
						td:nth-child(2) {
							display: none !important;
						}
					}
					tr {
						td:nth-child(3) {
							background: $white !important;
							padding: 1.75rem 1rem;
						}
					}
				}

			}

			&-info {
				flex: 0 0 100%;
				max-width: 100%;
				margin-right: 0;
			}
		}
		&-tag {
			&-list {
				display: none;
			}
		}
	}
}
@media screen and (min-width: 782.99px) and (max-width: 1199px) {
	.sxp {
		&-profile {
			&-wrapper {
				#searches,
				#recommendation,
				#discount,
				#campaign {
					.wp-list-table {
						tr:not(.inline-edit-row):not(.no-items) {
							td.column-primary {
								& ~ td:not(.check-column) {
									margin-left: -50px;
								}

							}
						}
					}
				}
				.product-list {
					display: none;
				}
				.wp-list-table {
					thead {
						tr {
							th,
							td {
								display: none;
							}
						}
					}
					tbody {
						tr {
							td:last-child {
								text-align: left;
							}
						}
					}
					th.column-primary ~ th,
					tr:not(.inline-edit-row):not(.no-items) td.column-primary ~ td:not(.check-column) {
						display: none;
					}
					tr:not(.inline-edit-row):not(.no-items) {
						td:not(.column-primary)::before {
							position: absolute;
							left: 1.5rem;
							display: block;
							overflow: hidden;
							width: 32%;
							content: attr(data-colname);
							white-space: nowrap;
							text-overflow: ellipsis;
						}
						td:not(.check-column) {
							position: relative;
							clear: both;
							width: auto !important;
						}
						td.column-primary {
							& ~ td:not(.check-column) {
								margin-left: -50px;
								padding: 17px 8px 17px 50%;
							}
							.toggle-row {
								display: block;
							}
						}
					}
					.is-expanded td:not(.hidden) {
						display: block !important;
						overflow: hidden;
					}
				}
			}
			&-details {
				flex: 0 0 60%;
				max-width: 60%;
				#activity,
				#orders,
				#products,
				#active-cart {
					.sxp-table tbody tr td:nth-child(n+2) {
						background: #fbfbfb;
					}
					.wp-list-table {
						tr:not(.inline-edit-row):not(.no-items) {
							td.column-primary ~ td:not(.check-column) {
								margin-left: 0;
							}
						}
					}
				}
				#activity {
					tr {
						td:nth-child(1) {
							padding: 1.5rem;
						}
					}
				}
				#orders {
					tr {
						td:nth-child(1) {
							padding: 1.6875rem 1.5rem;
						}
					}
				}
				#products {
					tr {
						td:nth-child(1) {
							padding: 1rem;
						}
					}
				}
				#active-cart {
					tbody {
						tr,
						tr.is-expanded {
							td {
								text-align: left;
							}
							td:nth-child(1) {
								display: none !important;
							}

							td:nth-child(2) {
								padding: 0.3125rem 0 0.3125rem 1.5rem;
								background: $white !important;
							}
						}
					}
					tfoot {
						display: block;
						padding: 0;
						border: none;
						tr {
							display: inline-table;
							width: 100%;
						}
					}
				}
				#recommendation,
				#searches {
					tr,
					tr.is-expanded {
						th.check-column {
							padding: 1.6875rem 0 0 1.5rem;
						}
					}
					tr {
						td:nth-child(2) {
							padding: 1rem;
						}
					}
				}
				#discount {
					tr,
					tr.is-expanded {
						th.check-column {
							padding: 1.6875rem 0 0 1.5rem;
						}
					}
					tr {
						td:nth-child(2) {
							padding: 1.75rem 1rem;
						}
					}
				}
				#campaign {
					tr,
					tr.is-expanded {
						th.check-column {
							padding: 1.6875rem 0 0 1.5rem;
						}
						td:nth-child(2) {
							display: none !important;
						}
					}
					tr {
						td:nth-child(3) {
							background: $white !important;
							padding: 1.75rem 1rem;
						}
					}
				}
			}

			&-info {
				flex: 0 0 40%;
				max-width: 40%;
			}
		}
	}
}
