.sxp {
	&-table {
		.product-thumb {
			img {
				max-width: 40px;
				padding: 0;
				margin: 0;
				border-radius: 20px;
			}
		}
		.product-list {
			max-width: 40px;
			padding: 0;
			margin: 0;

			li {
				float: left;

				a {
					img {
						border-radius: 20px;
						width: 100%;
						border: $border-width solid $light-purple;
					}
				}
			}
		}
		.product-number {
			margin-left: 0.75rem;
		}

		.product-name {
			@extend .product-number;
		}

		.product-list.multiple {
			li {
				width: 50%;
				margin: 0;

				a {
					padding: 0;
					margin: 0;
					line-height: 0.6;
					display: block;
				}
			}
		}
	}
}