.sxp {
	&-filter {
		&-wrapper {
			float: right;
			margin-top: 5px;
			div {
				display: inline-block;
				vertical-align: middle;
			}
		}
		&-default {
			select {
				padding: 1px 16px;
				margin: 0;
				background: #fff !important;
				border-radius: 4px;
				border: none;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					right: 0;
					background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDQgNCA0LTQiIHN0cm9rZT0iIzdEN0RCMyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
				}
			}
		}
	}
}
