/**
 * SaleXpresso DateRangePicker Module
 *
 * @author SaleXpresso <support@salexpresso.com>
 * @package SaleXpresso
 * @version 1.0.0
 * @since 1.0.0
 */

.daterangepicker {
	font-family: $font;
	position: absolute;
	color: inherit;
	background-color: $white;
	border-radius: 0.5rem;
	width: 278px;
	max-width: none;
	padding: 0;
	top: 100px;
	left: 20px;
	z-index: 3001;
	display: none;
	font-size: 1rem;
	line-height: 1rem;
	margin-top: 0.5rem;
	@include box-shadow(0, 32px, 128px, rgba($box-shadow-color, 0.24));
}
.daterangepicker.opensleft::after {
	right: 10px;
}
.daterangepicker.openscenter::before {
	left: 0;
	right: 0;
	width: 0;
	margin-left: auto;
	margin-right: auto;
}

.daterangepicker.openscenter::after {
	left: 0;
	right: 0;
	width: 0;
	margin-left: auto;
	margin-right: auto;
}

.daterangepicker.opensright::before {
	left: 9px;
}

.daterangepicker.opensright::after {
	left: 10px;
}

.daterangepicker.drop-up {
	margin-top: -7px;
}

.daterangepicker.drop-up::before {
	top: initial;
	bottom: -7px;
	border-bottom: initial;
	border-top: 7px solid #ccc;
}

.daterangepicker.drop-up::after {
	top: initial;
	bottom: -6px;
	border-bottom: initial;
	border-top: 6px solid #fff;
}

.daterangepicker .drp-calendar {
	display: none;
	max-width: 270px;
}

.daterangepicker .ranges {
	float: none;
	text-align: left;
	margin: 0;
}

.daterangepicker.show-calendar .ranges {
	padding: 32px;
	border-right: $border-width solid $light-purple-2;
}

.daterangepicker.single .daterangepicker .ranges,
.daterangepicker.single .drp-calendar {
	float: none;
}

.daterangepicker .drp-selected {
	display: inline-block;
	font-size: 16px;
	padding-right: 8px;
}

.daterangepicker.single .drp-selected {
	display: none;
}

.daterangepicker.show-calendar .drp-calendar {
	display: block;
}

.daterangepicker .drp-buttons {
	clear: both;
	text-align: right;
	padding: 8px;
	border-top: 1px solid #ddd;
	display: none;
	line-height: 12px;
	vertical-align: middle;
}

.daterangepicker.show-calendar .drp-buttons {
	display: block;
}

.daterangepicker.auto-apply .drp-buttons {
	display: none;
}

.daterangepicker .drp-calendar.left {
	padding: 32px 0 32px 32px;
}

.daterangepicker .drp-calendar.right {
	padding: 32px 32px 32px 24px;
}

.daterangepicker .calendar-table {
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: #fff;
}

.daterangepicker .drp-calendar.single .calendar-table {
	border: none;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
	color: #fff;
	border: solid #000;
	border-width: 0 2px 2px 0;
	border-radius: 0;
	display: inline-block;
	padding: 3px;
}

.daterangepicker .calendar-table .next span {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
	text-align: center;
	vertical-align: middle;
	min-width: 1.25rem;
	width: 1.25rem;
	height: 1.25rem;
	line-height: 1.25rem;
	font-size: 0.875rem;
	border-radius: 0.25rem;
	white-space: nowrap;
	cursor: pointer;
	padding: 0.25rem;
}

.daterangepicker .calendar-table table {
	width: 100%;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
	background-color: #eee;
	border-color: transparent;
	color: inherit;
}

.daterangepicker td.week,
.daterangepicker th.week {
	font-size: 80%;
	color: #ccc;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
	background-color: #fff;
	border-color: transparent;
	color: #999;
}

.daterangepicker td.in-range {
	background-color: $light-purple-2;
	border-color: transparent;
	color: $dark-purple;
	border-radius: 0;
}

.daterangepicker td.start-date {
	border-radius: 4px 0 0 4px;
}

td.active.start-date.available,
td.active.end-date.available {
	position: relative;
	z-index: 1;
}

td.active.start-date.available::after,
td.active.end-date.available::after {
	width: 14px;
	height: 28px;
	background: inherit;
	position: absolute;
	content: "";
	top: 0;
	z-index: -1;
}
td.active.start-date.available::after {
	right: 0;
}
td.active.end-date.available::after {
	left: 0;
}
.daterangepicker td.end-date {
	border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
	border-radius: 0.875rem;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	background-color: $primary;
	border-color: transparent;
	color: $white;
	border-radius: 0.875rem;
}

.daterangepicker th.month {
	width: auto;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
	color: #999;
	cursor: not-allowed;
	text-decoration: line-through;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
	font-size: 0.875rem;
	padding: 1px;
	height: auto;
	margin: 0;
	cursor: default;
}

.daterangepicker select.monthselect {
	margin-right: 2%;
	width: 56%;
}

.daterangepicker select.yearselect {
	width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
	width: 50px;
	margin: 0 auto;
	background: #eee;
	border: 1px solid #eee;
	padding: 2px;
	outline: 0;
	font-size: 0.875rem;
}

.daterangepicker .calendar-time {
	text-align: center;
	margin: 4px auto 0 auto;
	line-height: 30px;
	position: relative;
}

.daterangepicker .calendar-time select.disabled {
	color: #ccc;
	cursor: not-allowed;
}

.daterangepicker .drp-buttons .btn {
	margin-left: 8px;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 4px 8px;
}

/*
.daterangepicker.show-ranges.ltr .drp-calendar.left {
	border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.rtl .drp-calendar.left {
	border-right: 1px solid #ddd;
}

.daterangepicker.show-ranges.single.ltr .drp-calendar.left {
	border-left: 1px solid #ddd;
}

.daterangepicker.show-ranges.rtl .drp-calendar.right {
	border-right: 1px solid #ddd;
}
*/

.daterangepicker .ranges ul {
	list-style: none;
	margin: 0 auto;
	width: 100%;
	padding: 24px;
}

.daterangepicker .ranges li {
	font-size: 0.875rem;
	line-height: 1rem;
	margin-bottom: 1rem;
	cursor: pointer;
}
.daterangepicker .ranges li:last-child {
	margin-bottom: 0;
}

.daterangepicker .ranges li:hover {
	color: $primary;
}

.daterangepicker .ranges li.active {
	background-color: $white;
	color: $primary;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
	.daterangepicker {
		width: auto;
		direction: ltr;
		text-align: left;
		.ranges {
			ul {
				width: 140px;
			}
		}
		.drp-calendar {
			&.left {
				clear: left;
				margin-right: 0;
				.calendar-table {
					border-right: none;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					padding-right: 8px;
				}
			}
			&.right {
				margin-left: 0;
				.calendar-table {
					border-left: none;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
		.ranges,
		.drp-calendar {
			float: left;
		}
		&.single {
			.ranges {
				ul {
					width: 100%;
				}
			}
			.drp-calendar {
				&.left {
					clear: none;
				}
			}
			.ranges,
			.drp-calendar {
				float: left;
			}
		}
	}
}

@media (min-width: 730px) {
	.daterangepicker {
		.ranges {
			width: auto;
			float: left;
		}
		.drp-calendar.left {
			clear: none !important;
		}
		&.rtl {
			.ranges {
				float: right;
			}
		}
	}
}
