/**
 * SaleXpresso Filter Module
 *
 * @author SaleXpresso <support@salexpresso.com>
 * @package SaleXpresso
 * @version 1.0.0
 * @since 1.0.0
 */

@import "~vgnav/assets/scss/option/variables";
@import "~vgnav/assets/scss/vgnav";
@import "~vgnav/assets/scss/vgnav-theme";

// Resetting vgnav/assets/scss/vgnav-theme file a tag transition issue
a {
	transition: unset;
}

.sxp {
	&-filter {
		&-wrapper {
			float: right;
			margin: 1rem 0;

			div {
				display: inline-block;
				vertical-align: middle;
			}
		}
		&-default {
			.vg-nav {
				& > ul {
					& > li {
						padding: 0;
						margin: 0;
						& > a {
							font-size: inherit;
							line-height: inherit;
							display: block;
							color: $text-color;
							text-decoration: none;
							background: $white;
							padding: 0.375rem 0.375rem 0.375rem 1rem;
							border-radius: 0.25rem;

							span.toggle {
								span.default {
									border: 0 !important;
									background: $white url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDQgNCA0LTQiIHN0cm9rZT0iIzdEN0RCMyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=) no-repeat center right;
									width: 0.75rem !important;
									position: unset !important;
									transform: none !important;
								}
							}

						}
					}
				}
				.dropdown {
					ul {
						background: $white;
						border-radius: 0.25rem;
						@include box-shadow(0, 32px, 128px, rgba($box-shadow-color, 0.06));

						li {
							a {
								font-size: inherit;
								display: block;
								padding: 0.375rem 1.5rem;
								color: inherit;
								border: none;
								line-height: 1rem;
								margin-bottom: 0;

								&:hover {
									color: $primary;
								}
							}

							&:first-child {
								a {
									border: none;
									margin-top: 1.5rem - 0.375rem;
								}
							}
							&:last-child {
								a {
									margin-bottom: 1.5rem - 0.375rem;
								}
							}
						}
					}
				}
				.vg-nav-main-container {
					a {
						position: relative;
					}
					span.toggle {
						span.default {
							border-top: 4px solid;
							border-right: 4px solid transparent;
							border-bottom: 0;
							border-left: 4px solid transparent;
							width: 0.5rem;
							height: 0.5rem;
							vertical-align: unset;
							position: absolute;
							right: 1.5rem;
							top: 50%;
							transform: translateY(-30%);
							color: $light-purple;
						}
					}
					ul {
						span.toggle {
							span.default {
								background: transparent;
							}
						}
						.dropdown.show {
							& > a {
								color: $primary;
							}
						}
					}
					.dropdown.show {
						& > a {
							span.toggle {
								.default {
									transform: rotate(-180deg);
									top: 7px;
								}
							}
						}
					}
					& > .dropdown.show {
						& > ul {
							top: 120%;
						}
					}
				}
			}
		}
	}
	&-screen-options {
		a {
			display: block;
		}
	}
}
