/**
 * SaleXpresso Tab Module
 *
 * @author SaleXpresso <support@salexpresso.com>
 * @package SaleXpresso
 * @version 1.0.0
 * @since 1.0.0
 */
.sxp-tabs {
	&-nav {
		position: relative;
		display: block;
		list-style: none;
		width: 100%;
		margin: 20px auto;
		.tab {
			&-item {
				position: relative;
				display: inline-block;
				list-style: none;
				&.is-active {
					font-weight: 700;
				}
				&-link {
					font-weight: inherit;
					text-decoration: none;
					padding: 10px;
				}
			}
		}
	}
	&-content {
		.tab {
			&-content {
				position: relative;
				display: none;
				width: 100%;
				&.is-active {
					display: block;
				}
			}
		}
	}
}
