.sxp-wrapper,
.sxp-wrapper * {
  box-sizing: border-box;
}

.sxp {
  &-wrapper {
    font-family: 'Public Sans', sans-serif;
    font-size: 0.875rem;
    position: relative;
    display: block;

    table *, table thead *, table tbody * {
      font-family: 'Public Sans', sans-serif;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  &-btn {
    line-height: 1.25rem;
    border-radius: .25rem;
    text-decoration: none;
    display: inline-block;
  }
  &-btn-primary {
    padding: 1rem 1.5rem;
    background: $primary;
    color: $white;

    &:hover {
      color: $white;
    }
  }
  &-btn-secondary {
    padding: .5rem 1rem;
  }
  &-btn-muted {
    background: $light-purple-2;
    color: $dark-purple;
    &:hover {
      color: $dark-purple;
    }
  }
}
