// Colors
$light-purple:             #D0CFE5 !default;
$light-purple-2:           #E7E6F5 !default;
$dark-purple:              #7D7DB2 !default;
$dark-purple-2:            #7D7DB3 !default;
$primary:                  #3355FF !default;
$white:                    #ffffff !default;
$text-color:               #16163D !default;
$table-header-color:       $dark-purple !default;
$paragraph-color:          $text-color !default;
$table-checkbox-input:     $light-purple !default;
$table-campaign-border:    #D4D4EB !default;
$border-color:             #F2F4FC !default;
$heading-color:             $dark-purple !default;
$heading-bg:                #F4F3FC !default;
$customer-heading:         $heading-color !default;
$customer-heading-bg:      $heading-bg !default;
$customer-rule-border:     $light-purple !default;
$box-shadow-color:         #0D004D !default;
$status-success:           #009966 !default;
$status-info:              #F48400 !default;
$status-danger:            #B8001F !default;

//
// Customer List Badge
//
$badgeColors: #FFD0D0, #E3FFDA, #FFCFB5, #DAE4FF, #CFFFF4, #FFFCB5;
$badgeColorsLength: length($badgeColors);

//colors
$customer-list-location-color: $dark-purple-2 !default;

// Default
$input-width: 1px !default;
$border-width: 1px !default;
$border-radius: 1px !default;

//
// Customer Table
//
$table-checkbox-input-width:  $input-width * 2 !default;
$table-campaign-border-width: $input-width !default;

//
// Pagination
//
$pagination-color:        $dark-purple-2 !default;
$pagination-active-color: $text-color !default;

//
// Buttons
//
$btn-line-height: 3rem !default;
