// Colors
$light-purple:             #D0CFE5;
$light-purple-2:           #E7E6F5;
$dark-purple:              #7D7DB2;
$primary:                  #3355FF;
$white:                    #ffffff;
$text-color:               #16163D;
$table-header-color:       #7D7DB3;
$paragraph-color:          $text-color;
$table-checkbox-input:     $light-purple;
$table-campaign-border:    #D4D4EB;
$border-color:             #F2F4FC;
$customer-type-heading:    $dark-purple;
$customer-type-heading-bg: #F4F3FC;
$customer-type-rule-border: $light-purple;

// Customer Type
$customer-type-vip:         #FFD0D0;
$customer-type-wholeseller: #E3FFDA;
$customer-type-b2b:         #FFCFB5;
$customer-type-general:     #DAE4FF;
$customer-type-distributor: #CFFFF4;
$customer-type-new:         #FFFCB5;

// Default
$input-width: 1px;
$border-width: 1px;

//
// Customer Table
//
$table-checkbox-input-width:  $input-width * 2;
$table-campaign-border-width: $input-width;