/**
 * SaleXpresso Admin Styles
 *
 * @author SaleXpresso <support@salexpresso.com>
 * @package SaleXpresso
 * @version 1.0.0
 * @since 1.0.0
 */

.sxp-wrapper,
.sxp-wrapper * {
	box-sizing: border-box;
}

.sxp {
	&-wrapper {
		position: relative;
		display: block;
		width: 100%;
		float: left;
		margin: 0 auto;
		padding: 0;
	}
}

// Header
@import "admin/header";
// Content
@import "admin/content";
// Admin Tabs
@import "admin/tabs";
