# Default ignored files
/workspace.xml
# Project exclude paths
/../../../../
/../



















# Datasource local storage ignored files
/dataSources/

# User defined
/dictionaries/
/misc.xml
/php.xml
/watcherTasks.xml
/$CACHE_FILE$
